<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" /> 
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/button.css">
</head>
<body>

<header>
    <nav>
        <div class="left">
            <img src="assets/logo.png" alt="logo">
            <% if (username) { %>
                <span class="username">Hey, <%= username %></span>
            <% } %>
        </div>

        <div class="right">
            <a href="/logout">Logout</a>
            <button id="signupBtn">Sign up</button>
        </div>
    </nav>
</header>

<main class="content">
    <div class="content-wrapper">
        <video autoplay loop muted plays-incline class="video">
            <source src="assets/video.mp4">
        </video>
        
        <div class="yellow-overlay"></div>

        <div class="menu">
            <a href="/">Home<span></span></a>
            <a href="/pastride">Past Rides<span></span></a>
            <a href="#">Rides Available<span></span></a>
            <a href="#">Contact<span></span></a>
        </div>
        <!-- <button onclick="myFunction()" class="noe"><span>Ride now</span></button>       -->

        <div class="background">
            <button onclick="myFunction()" class="noe"><span>Ride now</span></button>
            <div id="myDIV" class="hidden">
                <form id="rideForm" action="/getPrice" method="post">
                    <h1>Ride on Time</h1>
                    <p>request a ride</p>
        
                    <div class="location">
                        <div class="inputbox">
                            <i class="fa-solid fa-location-dot"></i>
                            <input type="text" name="location" placeholder="Enter Location">
                        </div>
        
                        <div class="inputbox">
                            <i class="fa-solid fa-location-pin"></i>
                            <input type="text" name="destination" placeholder="Enter Destination">
                        </div>
                    </div>
        
                    <div class="price">
                        <button type="submit">See Price</button>
                        <button type="button" onclick="redirectToDriver()">Schedule Ride</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</main>

<div class="ready">
    <div class="saftey">
        <div class="learn-more-button">
            <a href="#">Learn more</a>
        </div>
    </div>
    <div class="text">
        <h1 class="rvs">Ride with Safety</h1>
        <p>Traveling with peace of mind has never been simpler: opt for Ride and ensure a safe journey for you and your loved ones. Sharing a ride with us means safeguarding everyone onboard. Your well-being is our unwavering commitment.</p>
    </div>
</div>

<div id="featured">
    <div class="fheading">
        <h1>Travel your way</h1>
        <h1>with Ride app</h1>
    </div>
    <div id="fimages">
        <div id="fleft">
            <div class="fleftelm">
                <h3>Ride</h3>
                <h1>Book your seat</h1>
            </div>
            <div class="fleftelm">
                <h3>Taxi options</h3>
                <h4>There’s more than one way to move with Ride, no matter where you are or where you’re headed next.</h4>
                <button class="magnet">Search ride options</button>
            </div>
            <div class="fleftelm">
                <h3>Airport</h3>
                <h4>You can request a ride to and from most major airports. Schedule a ride to the airport for one less thing to worry about.</h4>
                <button class="magnet">Search airports</button>
            </div>
            <div class="fleftelm last">
                <h3>City</h3>
                <h4>The app is available in thousands of cities worldwide, so you can request a ride even when you’re far from home.</h4>
                <button class="magnet">Search cities</button>
            </div>
        </div>
        <div id="fright">
            <div class="images">
                <svg id="svg" viewBox="0 0 130 350">
                    <defs>
                      <clipPath id="Clip01">
                        <polyline id="poly01" points="0,0 400,0 400,200 0,200 0,0" />
                      </clipPath> 
                      <clipPath id="Clip02">
                        <polyline id="poly02" points="0,0 400,0 400,200 0,200 0,0" />
                      </clipPath> 
                      <clipPath id="Clip03">
                        <polyline id="poly03" points="0,0 400,0 400,200 0,200 0,0" />
                      </clipPath> 
                      <clipPath id="Clip04">
                        <polyline id="poly04" points="0,0 400,0 400,200 0,200 0,0" />
                      </clipPath> 
                    </defs>
                    <image id="player" href="assets/start.jpg" clip-path="url(#Clip01)"/>
                    <image id="player"href="assets/taxi.jpg" alt="img" clip-path="url(#Clip02)" />
                    <image id="player" href="assets/plane.jpg" alt="img" clip-path="url(#Clip03)" />
                    <image id="player" href="assets/city.jpg" alt="img" clip-path="url(#Clip04)" />
                </svg>
            </div>
        </div>
    </div>
</div>

<div class="faq">
    <h1>Frequently asked questions</h1>
    <details>
        <summary>Can I have a lost item delivered to me?</summary>
        <div>
            The Ride app helps provide a delivery solution that can save you a trip across town, whether it’s for a last-minute birthday gift or your forgotten keys. Just choose Package in the ride app.
            <a href="#">Get details</a>
        </div>
    </details>

    <details>
        <summary>Can I rent a car using Ride</summary>
        <div>
            Yes. <a href="#">Find out more</a> about how car rentals work.
        </div>
    </details>

    <details>
        <summary>Can I request a ride that picks up friends in different locations?</summary>
        <div>
            Yes. Set up a group ride in the ride app, invite your friends, and arrive at your destination together.
            <br> <a href="#">Learn more</a>
        </div>
    </details>

    <details>
        <summary>Can I request a taxi on Ride?</summary>
        <div>
            Ride makes it easy to get a taxi nearby in the cities where Ride Taxi is available. There’s no need to find a cab stand, hail a cab on the street, or even call the local cab company. Instead, you can use the Ride app or website to request a taxi in just a few taps or clicks.
            <br> <a href="#">Learn about requesting a taxi</a>
        </div>
    </details>
</div>

<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">your ride</h3>
                        <p>Don’t miss any updates </p>
                        <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                            <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                            <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Android App</a></li>
                            <li><a href="#">iOS App</a></li>
                            <li><a href="#">Desktop</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">My tasks</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Term &amp; conditions</a></li>
                            <li><a href="#">Reporting</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                        <div class="f_social_icon">
                            <a href="#" class="fab fa-facebook"></a>
                            <a href="#" class="fab fa-twitter"></a>
                            <a href="#" class="fab fa-linkedin"></a>
                            <a href="#" class="fab fa-instagram"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <p class="mb-0 f_400">© ride.. 2024 All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.js"></script>
<script>
    var cursor = new MouseFollower();
</script>
<script type="text/javascript"  src="https://unpkg.com/sheryjs/dist/Shery.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
<script src="/home.js"></script>

</body>
</html>
