body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.ride-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 0 50px;
}

.ride-type {
    display: flex;
    border: none;
    border-radius: 12px;
    padding: 30px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
    width: 80%;
    max-width: 600px;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden; /* Added to keep content within bounds */
}

.ride-type:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.ride-type .left {
    flex: 0 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
}

.ride-type .left img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}


.ride-type .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
}

.ride-type h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.ride-type p {
    font-size: 18px;
    margin-bottom: 20px;
}

.ride-type button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
    background-size: 200% auto;
}

.ride-type button:hover {
    background-position: right center;
    background: linear-gradient(90deg, #2575fc 0%, #6a11cb 100%);
}
